div.item__container(
  *ngFor = 'let item of items; let i = index'
  )
  p.item__text
    | {{ item.text[0] | uppercase }}
  p.item__total(
    *ngIf = 'i == 0'
    )
    | {{ item.total[0] }}
  div.canvas__container(
    *ngIf = 'i > 0'
    )
    p.item__total(
    *ngIf = 'i > 0'
    )
      | {{ item.total[0] }}
    p.item__procent
      | {{ procent(item.total[0]) }}
    canvas.canvas(
      baseChart,
      [data] = 'item.total',
      [labels] = 'item.text',
      [chartType] = 'chartType',
      [legend] = 'chartLegend',
      [colors] = 'chartColors',
      [options]="chartOptions"
      )
