\:host
  min-height: 100%
  background: #2b265b
  color: #b1b0c0


  .item__container
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding: 40px 10px
    margin: 10px

    &:nth-child(n + 2)
      background: #372f80

    .item__icon


    .item__text


