\:host
  color: #656565

  .form
    display: flex

    .container
      display: flex
      flex-direction: column
      justify-content: center
      margin: 10px

      .label
        font-size: 12px
        margin: 5px

      .input
        border: none
        padding: 5px
        margin: 5px
        line-height: 20px

      .select
        padding: 5px 10px
        margin: 5px
        background: #fff
        border: none
        height: 30px
        width: 150px
        color: #656565
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: URL('assets/icons/down-arrow.svg') 95% / 10% no-repeat #fff

      .search__btn
        cursor: pointer
        background: transparent
        border: none

      .search__icon
        height: 24px
